<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.AnnouncementMapper">

    <resultMap id="announcementResultMap" type="Announcement">
        <id property="id" column="id" />
        <result property="publisherId" column="publisher_id" />
        <result property="title" column="title" />
        <result property="publishTime" column="publish_time" />
        <result property="content" column="content" />
    </resultMap>

    <select id="selectById" resultMap="announcementResultMap" parameterType="String">
        SELECT id, publisher_id, title, publish_time, content
        FROM announcement
        WHERE id = #{id}
    </select>

    <select id="selectByPublisherId" resultMap="announcementResultMap" parameterType="String">
        SELECT id, publisher_id, title, publish_time, content
        FROM announcement
        WHERE publisher_id = #{publisherId}
    </select>
    <select id="selectList" resultMap="announcementResultMap">
        SELECT id, publisher_id, title, publish_time, content
        FROM announcement
    </select>

    <insert id="addAnnouncement" parameterType="Announcement">
        INSERT INTO announcement (publisher_id, title, publish_time, content)
        VALUES (#{publisherId}, #{title}, #{publishTime}, #{content})
    </insert>

    <update id="updateAnnouncement" parameterType="Announcement">
        UPDATE announcement
        <set>
            <trim suffixOverrides=",">
                <if test="publisherId != null and publisherId != ''">publisher_id = #{publisherId},</if>
                <if test="title != null and title != ''">title = #{title},</if>
                <if test="publishTime != null and publishTime != ''">publish_time = #{publishTime},</if>
                <if test="content != null and content != ''">content = #{content},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteAnnouncement" parameterType="String">
        DELETE FROM announcement
        WHERE id = #{id}
    </delete>

</mapper>