<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.CanteenReviewMapper">

    <resultMap id="canteenReviewResultMap" type="CanteenReview">
        <id property="id" column="id" />
        <result property="evaluatorId" column="evaluator_id" />
        <result property="canteenId" column="canteen_id" />
        <result property="evaluationScore" column="evaluation_score" />
        <result property="weight" column="weight" />
    </resultMap>

    <select id="selectById" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE id = #{id}
    </select>

    <select id="selectByCanteenId" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE canteen_id = #{canteenId}
    </select>

    <select id="selectListById" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE evaluator_id = #{evaluatorId} AND canteen_id = #{canteenId}
    </select>

    <insert id="addCanteenReview" parameterType="CanteenReview">
        INSERT INTO canteen_review (id, evaluator_id, canteen_id, evaluation_score, weight)
        VALUES (#{id}, #{evaluatorId}, #{canteenId}, #{evaluationScore}, #{weight})
    </insert>

    <update id="updateCanteenReview" parameterType="CanteenReview">
        UPDATE canteen_review
        SET evaluator_id = #{evaluatorId},
            canteen_id = #{canteenId},
            evaluation_score = #{evaluationScore},
            weight = #{weight}
        WHERE id = #{id}
    </update>

    <delete id="deleteCanteenReview" parameterType="String">
        DELETE FROM canteen_review
        WHERE id = #{id}
    </delete>

</mapper>