<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.CanteenReviewMapper">

    <resultMap id="canteenReviewResultMap" type="CanteenReview">
        <id property="id" column="id" />
        <result property="evaluatorId" column="evaluator_id" />
        <result property="name" column="name" />
        <result property="time" column="time" />
        <result property="timestamp" column="timestamp"/>
        <result property="comment" column="comment" />
        <result property="canteenId" column="canteen_id" />
        <result property="evaluationScore" column="evaluation_score" />
        <result property="weight" column="weight" />
    </resultMap>

    <select id="selectById" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE id = #{id}
    </select>

    <select id="selectByCanteenId" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE canteen_id = #{canteenId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectListById" resultMap="canteenReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE evaluator_id = #{evaluatorId} AND canteen_id = #{canteenId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectListByName" resultMap="canteenReviewResultMap">
        SELECT id, evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight
        FROM canteen_review
        WHERE name = #{name}
        ORDER BY timestamp DESC
    </select>

    <select id="selectList" resultMap="canteenReviewResultMap">
        SELECT id, evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight
        FROM canteen_review
        ORDER BY timestamp DESC
    </select>

    <insert id="addCanteenReview" parameterType="CanteenReview">
        INSERT INTO canteen_review (evaluator_id, name, time, timestamp , comment, canteen_id, evaluation_score, weight)
        VALUES (#{evaluatorId}, #{name}, #{time}, #{timestamp}, #{comment}, #{canteenId}, #{evaluationScore}, #{weight})
    </insert>

    <update id="updateCanteenReview" parameterType="CanteenReview">
        UPDATE canteen_review
        <set>
            <if test="evaluatorId != null and evaluatorId != ''">evaluator_id = #{evaluatorId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="time != null and time != ''">time = #{time},</if>
            <if test="timestamp != null">timestamp = #{timestamp},</if>
            <if test="comment != null and comment != ''">comment = #{comment},</if>
            <if test="canteenId != null and canteenId != ''">canteen_id = #{canteenId},</if>
            <if test="evaluationScore != null">evaluation_score = #{evaluationScore},</if>
            <if test="weight != null and">weight = #{weight}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteCanteenReview" parameterType="String">
        DELETE FROM canteen_review
        WHERE id = #{id}
    </delete>

</mapper>