<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.CanteenMapper">

    <!-- 定义 resultMap -->
    <resultMap id="canteenResultMap" type="Canteen">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="image" column="image" />
        <result property="location" column="location" />
        <result property="introduction" column="introduction" />
        <result property="openingTime" column="opening_time" />
        <result property="closingTime" column="closing_time" />
        <result property="activity" column="activity" />
        <result property="rating" column="rating" />
        <!-- 添加其他属性 -->
    </resultMap>

    <select id="selectById" resultMap="canteenResultMap">
        SELECT id, name, image, location, introduction, opening_time, closing_time, activity, rating FROM canteen WHERE id = #{id}
    </select>

    <select id="selectByName" resultMap="canteenResultMap" parameterType="String">
        SELECT id, name, image, location, introduction, opening_time, closing_time, activity, rating FROM canteen WHERE name = #{name}
    </select>

    <select id="selectList" resultMap="canteenResultMap">
        SELECT id, name, image, location, introduction, opening_time, closing_time, activity, rating FROM canteen
    </select>

    <select id="selectListByPage" resultMap="canteenResultMap" parameterType="map">
        SELECT id, name, image, location, introduction, opening_time, closing_time, activity, rating FROM canteen
    </select>
    <select id="selectListLikeName" resultMap="canteenResultMap">
        SELECT id, name, image, location, introduction, opening_time, closing_time, activity, rating FROM canteen WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <insert id="addCanteen" parameterType="Canteen" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO canteen (name, image, location, introduction, opening_time, closing_time, activity, rating)
        VALUES (#{name}, #{image}, #{location}, #{introduction}, #{openingTime}, #{closingTime}, #{activity}, #{rating})
    </insert>

    <update id="updateCanteen" parameterType="Canteen">
        UPDATE canteen
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="openingTime != null and openingTime != ''">opening_time = #{openingTime},</if>
            <if test="closingTime != null and closingTime != ''">closing_time = #{closingTime},</if>
            <if test="activity != null and activity != ''">activity = #{activity},</if>
            <if test="rating != null">rating = #{rating},</if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteCanteen" parameterType="String">
        DELETE FROM canteen WHERE id = #{id}
    </delete>
</mapper>