<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.CommunityMessageMapper">

    <resultMap id="communityMessageResultMap" type="CommunityMessage">
        <id property="id" column="id" />
        <result property="publisherId" column="publisher_id" />
        <result property="name" column="name"/>
        <result property="publishTime" column="publish_time" />
        <result property="publishTimestamp" column="publish_timestamp"/>
        <result property="title" column="title"/>
        <result property="content" column="content" />
        <result property="likes" column="likes" />
        <result property="comments" column="comments" />
        <result property="hot" column="hot"/>
        <result property="replyMessageId" column="reply_message_id" />
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <select id="selectById" resultMap="communityMessageResultMap" parameterType="String">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE id = #{id}
    </select>

    <select id="selectPublisherId" resultMap="communityMessageResultMap" parameterType="String">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE publisher_id = #{publisherId}
    </select>

    <select id="selectByContent" resultMap="communityMessageResultMap" parameterType="String">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE content = #{Content}
    </select>

    <select id="selectByReplyId" resultMap="communityMessageResultMap" parameterType="String">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE reply_message_id = #{replyMessageId}
    </select>
    <select id="selectCommunityMessagesDynamic" resultMap="communityMessageResultMap" parameterType="map">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        <where>
            reply_message_id = 1
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="content != null">
                AND content LIKE CONCAT('%', #{content}, '%')
                OR title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="name == null and content == null and title == null">
                AND 1=1
            </if>
        </where>
    </select>

    <select id="selectList" resultMap="communityMessageResultMap">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
    </select>
    <select id="selectByParentId" resultMap="communityMessageResultMap">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE parent_id = #{parentId}
    </select>
    <select id="selectListByName" resultMap="communityMessageResultMap">
        SELECT id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id
        FROM community_message
        WHERE name = #{name}
    </select>

    <insert id="addCommunityMessage" parameterType="CommunityMessage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO community_message (id, publisher_id, name, publish_time, publish_timestamp, title, content, likes, comments, hot,reply_message_id, parent_id)
        VALUES (#{id}, #{publisherId},#{name} ,#{publishTime},#{publishTimestamp} ,#{title},#{content}, #{likes}, #{comments},#{hot} ,#{replyMessageId},#{parentId})
    </insert>

    <update id="updateCommunityMessage" parameterType="CommunityMessage">
        UPDATE community_message
        <set>
            <if test="publisherId != null">publisher_id = #{publisherId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="publishTimestamp != null">publish_timestamp = #{publishTimestamp},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="likes != null">likes = #{likes},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="hot != null">hot = #{hot},</if>
            <if test="replyMessageId != null">reply_message_id = #{replyMessageId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteCommunityMessage" parameterType="String">
        DELETE FROM community_message
        WHERE id = #{id}
    </delete>

</mapper>