<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.CommentLikeMapper">
    <!-- 查询用户对评论的点赞记录 -->
    <select id="selectLike" parameterType="map" resultType="long">
        SELECT timestamp FROM comment_like
        WHERE user_id = #{userId} AND comment_id = #{commentId}
    </select>

    <!-- 添加用户对评论的点赞记录 -->
    <insert id="addLike" parameterType="map">
        INSERT INTO comment_like (user_id, comment_id, timestamp)
        VALUES (#{userId}, #{commentId}, #{timestamp})
    </insert>

    <!-- 删除用户对评论的点赞记录 -->
    <delete id="deleteLike" parameterType="map">
        DELETE FROM comment_like
        WHERE user_id = #{userId} AND comment_id = #{commentId}
    </delete>
</mapper>