<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.DishReviewMapper">

    <resultMap id="dishReviewResultMap" type="DishReview">
        <id property="id" column="id" />
        <result property="evaluatorId" column="evaluator_id" />
        <result property="name" column="name" />
        <result property="dishId" column="dish_id" />
        <result property="time" column="time" />
        <result property="timestamp" column="timestamp"/>
        <result property="comment" column="comment" />
        <result property="evaluationScore" column="evaluation_score" />
        <result property="weight" column="weight" />
    </resultMap>

    <select id="selectById" resultMap="dishReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight
        FROM dish_review
        WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="dishReviewResultMap">
        SELECT id, evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight
        FROM dish_review
    </select>

    <select id="selectByDishId" resultMap="dishReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight
        FROM dish_review
        WHERE dish_id = #{DishId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectByEvaluatorIdDishId" resultMap="dishReviewResultMap" parameterType="String">
        SELECT id, evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight
        FROM dish_review
        WHERE evaluator_id = #{evaluatorId} AND dish_id = #{dishId}
        ORDER BY timestamp DESC
    </select>

    <select id="selectListByName" resultMap="dishReviewResultMap">
        SELECT id, evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight
        FROM dish_review
        WHERE name = #{name}
    </select>

    <insert id="addDishReview" parameterType="DishReview">
        INSERT INTO dish_review (evaluator_id, name, dish_id, time, timestamp, comment, evaluation_score, weight)
        VALUES (#{evaluatorId}, #{name}, #{dishId}, #{time}, #{timestamp}, #{comment}, #{evaluationScore}, #{weight})
    </insert>

    <update id="updateDishReview" parameterType="DishReview">
        UPDATE dish_review
        <set>
            <if test="evaluatorId != null">evaluator_id = #{evaluatorId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="time != null">time = #{time},</if>
            <if test="timestamp != null">time = #{timestamp},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="evaluationScore != null">evaluation_score = #{evaluationScore},</if>
            <if test="weight != null">weight = #{weight},</if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteDishReview" parameterType="String">
        DELETE FROM dish_review
        WHERE id = #{id}
    </delete>

</mapper>