<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.DishMapper">
    <resultMap id="dishResultMap" type="Dish">
        <id property="id" column="id" />
        <result property="canteenId" column="canteen_id" />
        <result property="name" column="name" />
        <result property="image" column="image" />
        <result property="introduction" column="introduction" />
        <result property="price" column="price" />
        <result property="cuisine" column="cuisine" />
        <result property="score" column="score" />
        <result property="weight" column="weight" />
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish WHERE id = #{dishId}
    </select>

    <select id="selectListByCanteenId" parameterType="string" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish WHERE canteen_id = #{canteenId}
    </select>

    <select id="selectListByCuisine" parameterType="string" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish WHERE cuisine = #{cuisine}
    </select>

    <select id="selectListByPrice" parameterType="map" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish WHERE price BETWEEN #{minPrice} AND #{maxPrice}
    </select>

    <select id="selectList" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish
    </select>
    <select id="selectListByPage" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish
    </select>

    <select id="selectDishesDynamic" resultMap="dishResultMap" parameterType="map">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight FROM dish
        <where>
            <if test="dishName != null">
                AND name LIKE CONCAT('%', #{dishName}, '%')
            </if>
            <if test="canteenId != null">
                AND canteen_id = #{canteenId}
            </if>
            <if test="cuisine != null">
                AND cuisine = #{cuisine}
            </if>
            <if test="minPrice != null and maxPrice != null">
                AND price BETWEEN #{minPrice} AND #{maxPrice}
            </if>
            <!-- 添加其他条件 -->

            <!-- 如果没有任何条件，则查询所有菜品 -->
            <if test="dishId == null and canteenId == null and cuisine == null and (minPrice == null or maxPrice == null)">
                AND 1=1
            </if>
        </where>
    </select>
    <select id="selectDishesByRecommend" resultMap="dishResultMap">
        SELECT id, canteen_id, name, image, introduction, price, cuisine, score, weight
        FROM dish
        WHERE recommend = '推荐'
    </select>

    <insert id="addDish" parameterType="dish">
        INSERT INTO dish (canteen_id, name, image, introduction, price, cuisine, score, weight)
        VALUES (#{canteenId}, #{name}, #{image}, #{introduction}, #{price}, #{cuisine}, #{score}, #{weight})
    </insert>

    <update id="updateDish" parameterType="Dish">
        UPDATE dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="price != null">price = #{price},</if>
            <if test="cuisine != null and cuisine != ''">cuisine = #{cuisine},</if>
            <if test="score != null">score = #{score},</if>
            <if test="weight != null">weight = #{weight},</if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteDish" parameterType="string">
        DELETE FROM dish WHERE id = #{id}
    </delete>

</mapper>