<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.mapper.UserMapper">
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,phone_number,role) values (#{username},#{password},#{phoneNumber},#{role});
    </insert>
    <update id="updateUser">
        update user set username=#{username} ,phone_number=#{phoneNumber},password=#{password},role=#{role} where id=#{id}
    </update>
    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>
    <select id="login" resultType="user">
        select * from user where phone_number = #{phoneNumber} and password = #{password}
    </select>
    <select id="selectById" resultType="user">
        select * from user where id = #{id}
    </select>
    <select id="selectByPhoneNumber" resultType="user">
        select * from user where phone_number = #{phoneNumber}
    </select>
    <select id="selectByUsername" resultType="user">
        select * from user where username = #{username}
    </select>
    <select id="selectList" resultType="user">
        select * from user
    </select>
    <select id="selectListByPage" resultType="user">
        select * from user
    </select>
</mapper>