comments-section {
    margin: 20px auto; /* 设置边距并水平居中 */
    max-width: 200px; /* 设置最大宽度 */
}

.comment {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.user-name {
    font-weight: bold;
}

.comment-content {
    margin-top: 10px;
}

.reply-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.replies {
    margin-top: 10px;
}
.reply {
    /* 添加一些样式，使回复内容显示在一行内，并按照你期望的样式排列 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 根据需要调整样式，添加边框或者其他视觉效果 */
    border-bottom: 1px solid #ccc; /* 添加底部边框 */
    padding: 5px 0; /* 调整内边距 */
}

.reply-content {
    /* 限制回复内容的宽度并允许文字换行 */
    flex: 1;
    word-wrap: break-word;
}

.reply-actions {
    /* 调整回复操作（回复链接）的样式 */
    margin-left: 10px; /* 调整左边距 */
}

.hidden {
    display: none;
}

/* 增加针对超链接、名字和发表时间的样式 */
.user-name a,
.comment-time a {
    text-decoration: none;
    color: #3498db; /* 修改为Bootstrap的主题色或根据需要自定义颜色 */
    margin-right: 5px; /* 调整超链接间距 */
}

.user-name a:hover,
.comment-time a:hover {
    text-decoration: underline;
}

#comment-form {
    margin: 20px;
}

#comment-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#comment-form label {
    margin-bottom: 5px;
}

#comment-form input,
#comment-form textarea {
    margin-bottom: 10px;
    padding: 5px;
}

#comment-form button {
    cursor: pointer;
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}
