* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.question-title {
    font-size: 25px;
    color: #d25252;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.option {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.option-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option-text {
    font-size: 16px;
    color: #333;
}

/* 适当调整其他元素样式 */
